.container {
    display: block;
    top: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    z-index: -2;
}

.container p {
    color: #000;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/images/banners/Smart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.linha_titulo {
    width: 100%;
    margin-top: 20px;
}

.column {
    margin: 20px 60px;
    text-align: justify;
}

.column ul li {
    margin: 15px 0;
}

.column h1 {
    margin-bottom: 20px;
}

.img1 {
    width: 40vw;
}

.img3 {
    width: 25vw;
}

.img7 {
    width: 80vw;
}
.titulo_atividades {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 75%;
}

.diferenciais {
    margin-top: 30px;
}

.contratacao {
    transform: translateX(-100%);
    left: 50%;
}

.alimentacao {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    margin-right: 10%;
}

.alimentacao p {
    text-align: justify;
}

@media screen and (max-width: 1030px) {
    .banner {
        background-image: url('../../assets/images/banners_mobile//smart.png');
    }
    .container {
        height: 200vh;
    }
    .title_banner {
        margin-left: 30%;
        width: 60%;
        height: 35%;
        text-align: center;
    }
    .box {
        width: 240px;
    }
    .descricao {
        width: 80%;
    }
}